@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading > svg {
    animation: rotate 800ms linear infinite;
    fill: #a2a2a2;
}
