.container {
    position: relative;
    width: 60px;
    height: 50px;
    padding: 2px;
    overflow: hidden;
    margin: auto;
    filter:
        hue-rotate(240deg)
        grayscale(0.5)
        drop-shadow(0 0px 0.4px black)
        drop-shadow(0 0px 0.4px black)
        drop-shadow(0 0px 0.4px black)
        drop-shadow(0 0px 0.4px black)
    ;

    > img {
        width: 100%;
    }
}

.hands {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 400ms cubic-bezier(.02,1.01,.53,1.01);
}

.eyesClosed {
    transform: translateY(40px);
}