.wrapper {
    // padding-bottom: 22px;
    margin-bottom: 6px;
}

.input_cont {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    height: 40px;
    border: 1px solid black;
    box-shadow: 0 1px 0 0 black;
    font-size: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.input_cont:not(.prefix_input) {
    grid-template-columns: 1fr;
}

.reveal_password {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    opacity: 0.4;

    cursor: pointer;

    &:hover > svg {
        filter: brightness(1.1);
    }
}

.reveal_password:hover {
    opacity: 0.6;
    transition: all 200ms;
}

.prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    border-right: 1px solid black;
    box-sizing: content-box;
    background-color: #edeeff;
    box-shadow: 0 0 0 1px inset #fff;
}

.input {
    display: block;
    border: 0;
    padding: 0 8px;
    flex: 0 1;
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.password_input {
    padding-right: 40px;
}

.password_hidden {
    font-family: monospace;
    letter-spacing: 2px;
}

.error_text {
    min-height: 20px;
    padding-top: 3px;
    color: red;
    font-size: 14px;
}
