@font-face {
    font-family: Inter;
    src: url('media/fonts/InterBlack.ttf');
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eadbb9;
    color: #000000;
    background-image: url('media/images/noise.png');
}

button {
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
}

a {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #585858;
}

input:focus-visible {
    outline: none;
}

h1 {
    margin: 0;
}
