* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eadbb9;
    color: rgb(40, 39, 39);
    background-image: url('media/images/noise.png');
}

button {
    padding: 0;
    border: 0;
    outline: 0;
    background: none;
}

a {
    color: black;
    text-decoration: underline;
}

input:focus-visible {
    outline: none;
}

@font-face {
    font-family: Inter;
    src: url('media/fonts/InterBlack.ttf');
}
